# files too large
numerical_methods_in_finance_and_economics_matlab_intro.pdf

# latex stuff
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.snm
*.toc
*.nav

# macos
.DS_store

# jupyter notebooko
.ipynb_checkpoints
